<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="icon" href="https://p1.hiclipart.com/preview/302/155/663/smiley-face-android-nougat-emoji-android-marshmallow-emoji-land-emoji-friends-google-nexus-blob-emoji-png-clipart.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= article.title %></title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-1 well well-lg"><%= article.title %></h1>
      <div class="text-muted container mb-2"style="margin:10px">
        <%= article.createdAt.toLocaleDateString() %>
      </div>

      <div class="well">
        <%- article.description %>
      </div>
<div class="mb-1 container" style="margin:10px">
      <a href="/" class="btn btn-success">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
</div>
      <div class="well">
        <%- article.sanitizedHtml %>
      </div>
    </div>
  </body>
</html>
